<?xml version='1.0' encoding='UTF-8'?>
<widget xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="aui" name="mainWidgetV2" version="0.2.1">
    <details>
        <title>mainWidgetV2</title>
        <homepage>https://github.com/wirecloud-fiware/quick-start-development-tutorial</homepage>
        <authors>Anssi Uistola, Pekka Okkonen</authors>
        <contributors>noepe</contributors>
        <email>auistola@univ.yo.oulu.fi</email>
        <image>images/tutorialpic.jpg</image> <!-- 170x80 -->
        <description>Creates copy-paste curl commands based on searches</description>
        <longdescription>README.md</longdescription>
        <license>Apache License 2.0</license>
        <licenseurl>http://www.apache.org/licenses/LICENSE-2.0.html</licenseurl>
        <doc>doc/developer-guide.md</doc>
    </details>
    <!-- Rikkoo Wirecloudin mashupin :D
    <requirements>
        <feature name="NGSI"/>
    </requirements> -->
    <contents src="index.html" useplatformstyle="true"/>
	<rendering width="240" height="50%"/>

    <wiring>
        <inputendpoint
                name="recStartObject"
                label="recStartObject"
                type="text"/>
        <inputendpoint
                name="recSearchInfo"
                label="recSearchInfo"
                type="text"/>

        <outputendpoint
                name="sendCurl"
                label="Creates curls"
                type="text"/>
        <outputendpoint
                name="Graph"
                label="Graph"
                type="text"/>
        <outputendpoint
                name="sendCSV"
                label="CSV"
                type="text"/>
    </wiring>
</widget>
